/*
 *  Styles for vertical accordian interface
 */
.tab {
  color : #fff;
  margin-bottom : 1px;
  overflow : hidden;
  position : relative;
  width : 100%;
}
.tab input {
  position : absolute;
  opacity : 0;
  z-index : -1;
}
.tab label {
  background : rgba( 9, 162, 180, 0.8 );
  border-bottom-right-radius : 1.5em;
  border-top-right-radius : 1.5em;
  cursor : pointer;
  display : block;
  font-size : 125%;
  font-weight : bold;
  line-height : 2.5;
  padding : 0 0 0 1em;
  position : relative;
}
.tab-content {
  background : rgba( 0, 0, 0, 0.9 );
  max-height : 0;
  overflow : hidden;
  -webkit-transition : max-height .35s;
  -o-transition : max-height .35s;
  transition : max-height .35s;
  width : calc(100% - 1.5em);
}
.tab-content p {
  margin : 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  display : block;
  position : absolute;
  right : 0;
  text-align : center;
  top : 0;
  -webkit-transition : all .35s;
  -o-transition : all .35s;
  transition : all .35s;
  width : 2.5em;
}
.tab input[type=checkbox] + label::after {
  content : "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform : rotate(540deg);
}
