/*
 *  Application specific styles
 */
#header {
  background-color : rgba( 0, 0, 0, 0.75 );
  padding : 0.5em;
}
input#searchterm:focus {
  outline: none;
}
input#searchterm::placeholder {
  color : #888;
  font-style : italic;
}

input#searchterm {
  font-size: 2.75rem;
  background: 0 0;
  border-color: transparent;
  border-bottom: 1px solid #fff;
  color: inherit;
  margin: 0 1em;
  padding : 0.2em;
  width: calc(100% - 2.1em);
}

ul.list {
  max-height : 15em;
  overflow-y : scroll;
}
.abstract {
  align-self : start;
  background-color : rgba( 0, 0, 0, 0.9);
  font-size : 125%;
  margin : 0 2em;
}
.abstract .links {
  align-items : flex-start;
}
.abstract .tab {
  font-size: 85%;
  width : 33%;
}
.abstract .tab label {
  font-size: 0.85em;
}
.colLeft {
  align-self : start;
}
.colRight {
  align-self : start;
  flex : 1 1;
}
.list button {
  background-color : transparent;
  border : 0 none;
  color : #f0f0f0;
  text-align : left;
  width : 100%;
}
.list button:focus {
  outline : 0;
}
.list button:hover {
  cursor : pointer;
  font-size : 85%;
  font-weight : 600;
}
.list li {
  margin : 1em;
}
.lists {
  align-self : start;
  min-width : 18rem;
  max-width : 20rem;
}
.movieThumb {
  float : left;
  margin : 0 1em 1em 0;
  width : 228px;
}
.movieTitle {
  color : #04d6da;
  font-family : Ubuntu;
}
.r45l {
  color : #fff;
  display: inline-block;
  font-style: italic;
  transform: rotate(-11deg);
}
.overview {
  margin : 1em 0;
}
.tagline {
  color: #96d3d1;
  margin: 1em;
}
.tmdb {
  height : 3rem;
}
