/*
 *  General styles and classes
 */
html, body {
  height : 100%;
  width : 100%
}
body {
  background-attachment : fixed;
  background-color : #111;
  background-repeat : no-repeat;
  background-size : cover;
  color : #aaa;
  font-size : 16px;
  font-family : "DejaVu Sans", "Helvetica Neue Lt STD", Roboto, Arial;
}

.b {
  font-weight : 700;
}

.backdrop {
  background-image : radial-gradient( circle farthest-side, black, rgba(192, 192, 192, 0.33) );
  height : 100%;
  left : 0;
  pointer-events : auto;
  position : fixed;
  top : 0;
  transition : opacity 0.2s;
  width : 100%;
  z-index : 1000;
}
.backdrop iframe {
  z-index : 1001;
}
.sm {
  font-size : 85%;
}

.cntr {
  align-items     : center;
  justify-content : center;
  text-align      : center;
}

.center {
  text-align : center;
  width      : 100%;
}

.left,
.flx.left {
  align-items     : flex-start;
  justify-content : flex-start;
  text-align      : left;
}

.right,
.flx.right {
  align-items     : flex-end;
  justify-content : flex-end;
  text-align      : right;
}


.hdn {
  display : none;
}

.indent::first-letter {
  padding-left : 3rem;
}

.mrg  { margin : 0.5em; }
.mrga { margin : 0 auto; }
.mrgh { margin : 0 0.5em; }
.mrgv { margin : 0.5em 0; }

.padh { padding-left : 0.5em; padding-right : 0.5em; }

/* *************************************                           flexy stuff      */
.flx {
  align-items     : center;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.flxCol {
  flex-direction : column;
}

.flxi {
  flex              : 1 1 auto;
  -webkit-flex-flow : row wrap;
  flex-flow         : row wrap;
}

.flxBetween {
  justify-content : space-between;
}

.flxAround {
  justify-content : space-around;
}

.flxCenter {
  justify-content : center;
}

.flxLeft {
  justify-content : flex-start;
}

.flxRight {
  justify-content : flex-end;
}

/* *************************************                               colors      */

.bg-fade    { background-color : rgba(0,0,0,0.05); }
.bg-fade-lt { background-color : rgba(255,255,255,0.05); }

.bg-danger  { background-color : #b85c5c; }  /* #cc8585  */
.bg-info    { background-color : #80baff; }  /* #73c0e6  */
.bg-primary { background-color : #5c86b8; }  /* #2e98e6  */
.bg-success { background-color : #57d957; }  /* #2ee62e  */
.bg-warning { background-color : #ffd480; }  /* #e6a82e  */

.bg-fd-danger  { background : linear-gradient(90deg, rgba(184,  92,  92, 0.33), rgba(0,0,0,0)); }
.bg-fd-info    { background : linear-gradient(90deg, rgba(128, 186, 255, 0.33), rgba(0,0,0,0)); }
.bg-fd-primary { background : linear-gradient(90deg, rgba( 92, 134, 184, 0.33), rgba(0,0,0,0)); }
.bg-fd-success { background : linear-gradient(90deg, rgba( 87, 217,  87, 0.33), rgba(0,0,0,0)); }
.bg-fd-warning { background : linear-gradient(90deg, rgba(255, 212, 128, 0.33), rgba(0,0,0,0)); }  /* #e6a82e  */

/*
.bg-danger,
.bg-info,
.bg-primary,
.bg-success,
.bg-warning {
  color : #fff;
}
*/

.fg-danger  { color : #b82e2e; }
.fg-info    { color : #4097ff; }
.fg-primary { color : #2e6db8; }
.fg-success { color : #20a020; }  /* #40ff40 */
.fg-warning { color : #ffbe40; }


/* *************************************                               sizes      */


.h100 {
  height     : 100%;
  min-height : 350px;
}
.h50 {
  height : 50%;
  min-height : 256px;
}

.w100 { width : 100%; }
.w66  { width : 66%;  }
/*.w50  { width : 50%;  }*/
.w50  { width : 49.7%;  }
.w33  { width : 33%;  }
.w25  { width : 25%;  }
.w15  { width : 15%;  }
.win  { width : initial; }

.h1 { height : 1rem; line-height : 1rem; }
.h2 { height : 2rem; line-height : 2rem; }
.h3 { height : 3rem; line-height : 3rem; }
.h4 { height : 4rem; line-height : 4rem; }

.fs1 { font-size : 1rem; }
.fs2 { font-size : 2rem; }
.fs3 { font-size : 3rem; }
.fs4 { font-size : 4rem; }


